{# If the route name is not 'app_login' or 'user_registration', thus login / registration pages respectively #}
{% if 'app_login' != app.request.attributes.get('_route') and 'user_registration' != app.request.attributes.get('_route') %}

    <header id="m_header" class="m-grid__item    m-header  ffcb-bcg-color" m-minimize-offset="200"
            m-minimize-mobile-offset="200" style="background-color: #313e47">
        <div class="m-container--fluid m-container--full-height">


            <div class="m-stack m-stack--ver m-stack--desktop">
                <div class="m-stack__item m-brand  m-brand--skin-dark" style="background-color: #313e47"></div>

                <div class="m-stack__item m-stack__item--fluid m-header-head m-container" id="m_header_nav">

                    <!-- BEGIN: Horizontal Menu -->
                    <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark "
                            id="m_aside_header_menu_mobile_close_btn"><i class="la la-close"></i></button>

                    <div id="m_header_menu"
                         class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark ">
                        <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">


                            <li class="m-menu__item m-menu__item--rel" m-menu-link-redirect="1"
                                aria-haspopup="true"
                                style="padding: 10px">
                                <a href="{{ path('app_homepage') }}" title="lazi_logo">
                                    <div style="padding: .25rem;border-radius: .25rem; max-width: 100%; height: auto;">
                                        <img style="width: 60px; height: 60px; -webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;" src="{{ asset('lazi_logos/lazi_white.png') }}">
                                    </div>
                                </a>
                            </li>

                            {% for menuItem in menuItems %}
                                {# menuItem without parent means it is parent itself and is situated at the top level, in main menu #}
                                {% if menuItem.parent is null and menuItem.routes|length == 0 and menuItem.isAdminMenu is null %}

                                    <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                                        <a href="/{{ menuItem.route }}" class="m-menu__link "><span
                                                    class="m-menu__link-text">{{ menuItem.name|capitalize }}</span></a>
                                    </li>
                                {% elseif menuItem.parent is null and menuItem.routes|length > 0 %}
                                    <li class="m-menu__item m-menu__item--submenu m-menu__item--rel m-menu__item--open-dropdown" m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true"><a href="javascript:;" class="m-menu__link m-menu__toggle" title="{{ menuItem.name }}"><i class="{{ menuItem.bootstrapIcon }}"></i><span class="m-menu__link-text">{{ menuItem.name }}</span><i class="m-menu__hor-arrow la la-angle-down"></i><i class="m-menu__ver-arrow la la-angle-right"></i></a>
                                        <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left"><span class="m-menu__arrow m-menu__arrow--adjust" style="left: 71px;"></span>
                                            <ul class="m-menu__subnav">
                                                {% for child in menuItem.routes %}
                                                    <li class="m-menu__item " aria-haspopup="true"><a href="/{{ child.route }}" class="m-menu__link "><i class="m-menu__link-icon {{ child.bootstrapIcon }}"></i><span class="m-menu__link-text">{{ child.name }}</span></a></li>
                                                {#<li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true"><a href="header/actions.html" class="m-menu__link "><i class="m-menu__link-icon flaticon-diagram"></i><span class="m-menu__link-title"> <span class="m-menu__link-wrap">
																<span class="m-menu__link-text">Generate Reports</span> <span class="m-menu__link-badge"><span class="m-badge m-badge--success">2</span></span> </span></span></a></li>
                                                <li class="m-menu__item m-menu__item--submenu" m-menu-submenu-toggle="hover" m-menu-link-redirect="1" aria-haspopup="true"><a href="javascript:;" class="m-menu__link m-menu__toggle" title="Non functional dummy link"><i class="m-menu__link-icon flaticon-business"></i><span class="m-menu__link-text">Manage Orders</span><i class="m-menu__hor-arrow la la-angle-right"></i><i class="m-menu__ver-arrow la la-angle-right"></i></a>
                                                    <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right"><span class="m-menu__arrow "></span>
                                                        <ul class="m-menu__subnav">
                                                            <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true"><a href="header/actions.html" class="m-menu__link "><span class="m-menu__link-text">Latest Orders</span></a></li>
                                                            <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true"><a href="header/actions.html" class="m-menu__link "><span class="m-menu__link-text">Pending Orders</span></a></li>
                                                            <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true"><a href="header/actions.html" class="m-menu__link "><span class="m-menu__link-text">Processed Orders</span></a></li>
                                                            <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true"><a href="header/actions.html" class="m-menu__link "><span class="m-menu__link-text">Delivery Reports</span></a></li>
                                                            <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true"><a href="header/actions.html" class="m-menu__link "><span class="m-menu__link-text">Payments</span></a></li>
                                                            <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true"><a href="header/actions.html" class="m-menu__link "><span class="m-menu__link-text">Customers</span></a></li>
                                                        </ul>
                                                    </div>
                                                </li>#}
                                                {% endfor %}


                                            </ul>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {# Administration #}
                            {% if is_granted('ROLE_USER') %}
                                <li class="m-menu__item m-menu__item--submenu m-menu__item--rel m-menu__item--open-dropdown"
                                    m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true"><a
                                            href="javascript:;" class="m-menu__link m-menu__toggle"
                                            title="administration"><i
                                                class="m-menu__link-icon flaticon-add"></i><span
                                                class="m-menu__link-title"> <span class="m-menu__link-wrap"> <span
                                                        class="m-menu__link-text">Administration</span>{#<span
                                                        class="m-menu__link-badge"><span
                                                            class="m-badge m-badge--brand m-badge--wide">administration</span></span>#}
												</span></span><i class="m-menu__hor-arrow la la-angle-down"></i><i
                                                class="m-menu__ver-arrow la la-angle-right"></i></a>
                                    <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left"><span
                                                class="m-menu__arrow m-menu__arrow--adjust"
                                                style="left: 87.5px;"></span>
                                        <ul class="m-menu__subnav">
                                            <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true"><a
                                                        href="{{ path('add_menu_item') }}" class="m-menu__link "><i
                                                            class="m-menu__link-icon flaticon-business"></i><span
                                                            class="m-menu__link-text">Rajouter menu</span></a>
                                            </li>
                                            <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true"><a
                                                        href="{{ path('create_advert') }}" class="m-menu__link "><i
                                                            class="m-menu__link-icon flaticon-business"></i><span
                                                            class="m-menu__link-text">Ecrire un article</span></a>
                                            </li>
                                            {#<li class="m-menu__item  m-menu__item--submenu"
                                                m-menu-submenu-toggle="hover" m-menu-link-redirect="1"
                                                aria-haspopup="true"><a href="{{ path('create_advert') }}"
                                                                        class="m-menu__link m-menu__toggle"><i
                                                            class="m-menu__link-icon flaticon-computer"></i><span
                                                            class="m-menu__link-text">Ecrire un article</span><i
                                                            class="m-menu__hor-arrow la la-angle-right"></i><i
                                                            class="m-menu__ver-arrow la la-angle-right"></i></a>
                                                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                                                    <span class="m-menu__arrow "></span>
                                                    <ul class="m-menu__subnav">
                                                        <li class="m-menu__item " m-menu-link-redirect="1"
                                                            aria-haspopup="true"><a href="header/actions.html"
                                                                                    class="m-menu__link "><i
                                                                        class="m-menu__link-icon flaticon-users"></i><span
                                                                        class="m-menu__link-text">Active Users</span></a>
                                                        </li>
                                                        <li class="m-menu__item " m-menu-link-redirect="1"
                                                            aria-haspopup="true"><a href="header/actions.html"
                                                                                    class="m-menu__link "><i
                                                                        class="m-menu__link-icon flaticon-interface-1"></i><span
                                                                        class="m-menu__link-text">User Explorer</span></a>
                                                        </li>
                                                        <li class="m-menu__item " m-menu-link-redirect="1"
                                                            aria-haspopup="true"><a href="header/actions.html"
                                                                                    class="m-menu__link "><i
                                                                        class="m-menu__link-icon flaticon-lifebuoy"></i><span
                                                                        class="m-menu__link-text">Users Flows</span></a>
                                                        </li>
                                                        <li class="m-menu__item " m-menu-link-redirect="1"
                                                            aria-haspopup="true"><a href="header/actions.html"
                                                                                    class="m-menu__link "><i
                                                                        class="m-menu__link-icon flaticon-graphic-1"></i><span
                                                                        class="m-menu__link-text">Market Segments</span></a>
                                                        </li>
                                                        <li class="m-menu__item " m-menu-link-redirect="1"
                                                            aria-haspopup="true"><a href="header/actions.html"
                                                                                    class="m-menu__link "><i
                                                                        class="m-menu__link-icon flaticon-graphic"></i><span
                                                                        class="m-menu__link-text">User Reports</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>#}
                                            <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true"><a
                                                        href="{{ path('create_contact') }}" class="m-menu__link "><i
                                                            class="m-menu__link-icon flaticon-map"></i><span
                                                            class="m-menu__link-text">Créer un utilisateur</span></a></li>
                                            <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true"><a
                                                        href="header/actions.html" class="m-menu__link "><i
                                                            class="m-menu__link-icon flaticon-graphic-2"></i><span
                                                            class="m-menu__link-title"> <span class="m-menu__link-wrap">
																<span class="m-menu__link-text">Campaigns</span> <span
                                                                    class="m-menu__link-badge"><span
                                                                        class="m-badge m-badge--success">3</span></span> </span></span></a>
                                            </li>
                                            <li class="m-menu__item  m-menu__item--submenu"
                                                m-menu-submenu-toggle="hover" m-menu-link-redirect="1"
                                                aria-haspopup="true"><a href="javascript:;"
                                                                        class="m-menu__link m-menu__toggle"
                                                                        title="Non functional dummy link"><i
                                                            class="m-menu__link-icon flaticon-infinity"></i><span
                                                            class="m-menu__link-text">Cloud Manager</span><i
                                                            class="m-menu__hor-arrow la la-angle-right"></i><i
                                                            class="m-menu__ver-arrow la la-angle-right"></i></a>
                                                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                                                    <span class="m-menu__arrow "></span>
                                                    <ul class="m-menu__subnav">
                                                        <li class="m-menu__item " m-menu-link-redirect="1"
                                                            aria-haspopup="true"><a href="header/actions.html"
                                                                                    class="m-menu__link "><i
                                                                        class="m-menu__link-icon flaticon-add"></i><span
                                                                        class="m-menu__link-title"> <span
                                                                            class="m-menu__link-wrap">
																			<span class="m-menu__link-text">File Upload</span> <span
                                                                                class="m-menu__link-badge"><span
                                                                                    class="m-badge m-badge--danger">3</span></span> </span></span></a>
                                                        </li>
                                                        <li class="m-menu__item " m-menu-link-redirect="1"
                                                            aria-haspopup="true"><a href="header/actions.html"
                                                                                    class="m-menu__link "><i
                                                                        class="m-menu__link-icon flaticon-signs-1"></i><span
                                                                        class="m-menu__link-text">File Attributes</span></a>
                                                        </li>
                                                        <li class="m-menu__item " m-menu-link-redirect="1"
                                                            aria-haspopup="true"><a href="header/actions.html"
                                                                                    class="m-menu__link "><i
                                                                        class="m-menu__link-icon flaticon-folder"></i><span
                                                                        class="m-menu__link-text">Folders</span></a>
                                                        </li>
                                                        <li class="m-menu__item " m-menu-link-redirect="1"
                                                            aria-haspopup="true"><a href="header/actions.html"
                                                                                    class="m-menu__link "><i
                                                                        class="m-menu__link-icon flaticon-cogwheel-2"></i><span
                                                                        class="m-menu__link-text">System Settings</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}

                        </ul>
                    </div>

                    <!-- END: Horizontal Menu -->

                    <!-- BEGIN: Topbar -->
                    <div id="m_header_topbar"
                         class="m-topbar  m-stack m-stack--ver m-stack--general m-stack--fluid"
                         style="padding: 25px;">
                        <div class="m-stack__item m-topbar__nav-wrapper">
                            <ul class="m-topbar__nav m-nav m-nav--inline">

                                {% if app.user %}
                                    <li class="m-nav__item">
                                        <a href="{{ path('app_logout') }}"
                                           class="m-nav__link m-dropdown__toggle">
                                            <span class="m-nav__link-icon"><i
                                                        class="flaticon-logout"></i></span>
                                        </a>
                                    </li>

                                    <!------------PROFILE-------------->
                                    <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light">
                                        {% set by = is_granted('ROLE_ADMIN') ? 'admin' : 'user' %}

                                        {# the parameter "by" on "edit_user" route checks if admin edits or the user in order to restrict rights management if this is a user #}
                                        <a href="{{ path('edit_user', {'slug': app.user.slug }) }}"
                                           class="m-nav__link m-dropdown__toggle">
                                            <span class="m-topbar__userpic">{{ app.user.firstName }} {{ app.user.lastName }}</span>
                                        </a>
                                    </li>

                                {% else %}
                                    <li class="m-nav__item">
                                        <a href="{{ path('user_registration') }}"
                                           class="m-nav__link m-dropdown__toggle">
                                            <span class="m-nav__link-icon"><i
                                                        class="flaticon-user-add"></i></span>
                                        </a>
                                    </li>

                                    <li class="m-nav__item">
{#                                        <a href="{{ path('app_login') }}"#}
                                        <a href="{{ path('app_login') }}"
                                           class="m-nav__link m-dropdown__toggle">
                                            <span class="m-nav__link-icon"><i
                                                        class="flaticon-user"></i></span>
                                        </a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>

                    <!-- END: Topbar -->
                </div>
            </div>


            {% if 'app_homepage' == app.request.attributes.get('_route') %}
                <div class="video_bcg_section">
                    <h1>Centre Culturel Géorgien</h1>
                    <h5>10 ans au service des générations</h5>

                    <div class="video_container">
                        <div class="color-overlay"></div>
                        <video autoplay loop muted>
                            <source src="{{ asset('videos/bckg_video.mp4') }}" {#type="video/mov"#}>
                        </video>
                    </div>
                </div>
            {% endif %}


        </div>

    </header>
{% endif %}