<div class="offset-2" style="margin-bottom: 20px">
    <h3 style="color: #a7a7a7;">{{ "historique des envois de mails"|upper }}</h3>
</div>
<div class="m-portlet__body">

    <!--begin::Section-->
    <div class="m-section">
        <div class="m-section__content">
            <table class="table table-striped m-table">
                <thead>
                <tr>
                    <th style="width: 100px">Message</th>
                    <th>De la part</th>
                    <th>Date d'envoi</th>
                </tr>
                </thead>
                <tbody>
                {# by history action in MailController #}
                {% for model in modelsList %}
                    <tr>
                        <td style="width: 100px">{{ model.message }}</td>
                        <td>{{ model.senderFrom }}</td>
                        <td>{{ model.datetime|date }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(modelsList) }}
            </div>
        </div>
    </div>

    <!--end::Section-->
</div>